<section class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mx-auto mt-2">
        <h1 class="glorius text-center mt-4 white-text">LogIn</h1>
        <hr class="white-text" />
        <div class="signupCard p-3 m-auto">
          <form action="/login" method="post" class="text-center pt-2">

            <label for="email" class="form-text p-1">Email</label>
            <input
              placeholder="Email"
              type="email"
              name="email"
              class="form-text form-area mx-auto customInput"
              style="width: 75%;"
              required
            />

            <label for="password" class="form-text p-1">Password</label>
            <input
              placeholder="Password"
              type="password"
              name="password"
              class="form-text form-area mx-auto customInput"
              style="width: 65%;"
              required
            />
            <br />
            <button
              type="submit"
              class="font01 mx-auto customBtn mb-3"
            >LogIn
            </button>
            <br />
            {{#if logInErr}}
              <p class="font01" style="color:red">{{logInErr}}</p>
            {{/if}}
            <hr />
            <a href="/signup" class="font01 mt-3">Create New Account ?</a>
            <br />
            <br />
          </form>
        </div>
      </div>
    </div><hr />
  </div>
</section>