<section>
    <div class="container-fluid">
        <div class="row">
            <h1 class="glorius text-white text-center m-auto p-4 ">Order Completed Successfully</h1>
        </div>
        <div class="m-auto p-4 text-center">
            <a class="btn btn-success font01" href="/orders">View Orders</a>
        </div>
    </div>
</section>