<section class="">
    {{!-- <div class="container mt-4 ">
        <h1 class="glorius text-center">Add To Your Profile</h1>
        <hr>
    </div> --}}
    <div class="container">
        <div class="row ">
            <div class="col mx-auto mt-2 ">
                <h1 class="glorius text-center mt-4 white-text">Create An Account</h1>
                <hr>
                <div class=" signupCard m-auto ">
                    <form action="/signup" method="post" class="text-center p-2" >
                    <div class="p-2">
                        <label for="name" class=" form-text ">User Name</label>
                        <input placeholder="User Name" type="text" name="name" class="form-text form-area mx-auto customInput"
                        style="width: 75%;" required>
                    </div>
                    <div class="p-2">
                        <label for="email" class=" form-text">Email</label>
                        <input placeholder="Email" type="email" name="email" class="form-text form-area mx-auto customInput" 
                        style="width: 65%;" required>
                    </div>
                    <div class="p-2">
                        <label for="password" class="form-text">Password</label>
                        <input placeholder="Password" type="password" name="password" class="form-text form-area mx-auto customInput" 
                        style="width: 65%; font-size:1rem;" required>
                    </div>
                        <input type="hidden" name="admin" value="false">

                        {{!-- <label for="password" class="form-text">Confirm Password</label>
                        <input type="text" name="conf-password" class="form-text form-area mx-auto text-center" required >
                        <br> --}}

                        <br>
                        <button type="submit" class="font01 mx-auto customBtn mb-3 ">SignUp</button><hr>
                        <a href="/login" class="font01 mt-3 " style="">Already Have an Account ?</a> 
                        <br><br>
                    </form>
                </div>
            </div>
        </div><hr>
    </div>
</section>