.customInput {
    border-radius: 8px;
    padding: 4px 14px;
    outline: none;
    border: 1.5px solid gray;
    background: rgba(255, 255, 255, 0.411);
}

.customInput::placeholder {
    color: var(--text-main);
    opacity: 0.4;
}

.customInput:focus {
    background: #fff;
}

.signupCard {
    max-width: 400px;
}

.signupCard input[type="password"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signupCard input[type="password"]::placeholder {
    font-family: 'Urbanist', 'serif';
}

.signupCard label {
    color: var(--text-main);
    /* color: red; */
}

.customBtn {
    outline: none;
    border: none;
    background: rgb(0, 110, 110);
    /* background: var(--theme-1); */
    font-weight: 500;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.custmBtn:hover {
    background: rgb(0, 110, 92);
    /* background: var(--theme-1); */
}

.addItemCard {
    width: 90%;
}

.footer {
    visibility: hidden;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(17, 17, 17, 0.575);
}

.copyRights {
    color: #fff;
}

.copyRights a {
    color: lime !important;
    text-decoration: none;
    cursor: pointer;
}

.card-title {
    color: rgb(75, 75, 75);
}

.themeBtn {
    color: var(--text-main);
    opacity: 0.4;
}

.themeBtn:hover {
    opacity: 1;
    color: var(--text-main);
}

.favIcon {
    /* color: rgb(255, 45, 80); */
    color: #fff;
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0.6;
}

.favIcon:hover {
    opacity: 1;
    color: red;
}

#wishlist-count {
    background-color: var(--badge-wishlist);
    color: var(--text-secondary);
}

#wishlist-count:empty {
    visibility: hidden;
}

.productImage {
    max-width: 96vw;
    max-height: 96vh;
    width: 100%;
    height: 100%;
}

/* .imgSection{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.wishlistBtn{
    background-color: rgb(255, 121, 143);
    
}

.wishlistBtn:hover{
    background-color: rgb(255, 76, 106);

}

.detailsSection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}