* {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

@media (max-width: 991px) {
    .suBadge {
        display: none !important;
    }
}

:root{
    --font-main: 'Urbanist','serif';
}

.suBadge {
    display: auto;
}

.cart-item-resize {
    width: 9em;
    height: 21em;
    contain: content;
}

.text-black {
    color: #000000 !important;
}

.badge-info {
    background-color: bisque !important;
    color: #000000 !important;
}

.bold {
    font-weight: 650 !important;

}

.contain {
    object-fit: contain;
}

.poster-cart {
    width: 100%;
    height: 13em;
}

.font-cart {
    font-family: var(--font-main);
    font-weight: 100;
}

.white-bg {
    background-color: rgb(126, 16, 16);
}

.descriptionbox {
    max-width: 70%;
    border-radius: 1em;
    font-family: var(--font-main);
}

.bord {
    max-width: 25rem;
    border: 2px solid #000000;
    border-radius: 7px;
    background: #ffffff;
}

.white-text {
    color: var(--text-main);
}

.text-white {
    color: var(--text-main);
}

.form-text {
    font-family: var(--font-main);
}

.form-area {
    border-radius: 1em;
}

.readreviewbtn {
    background-color: rgb(79, 49, 0) !important;
    border-radius: 1em;
    color: #ffffff;
    /* border: solid 0.2em rgb(0, 0, 0); */

}

.badge-custom {
    background: linear-gradient(rgb(189, 1, 1), rgb(189, 0, 0));
}

.addtobtn {
    background-color: rgb(79, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1em;
}

.ordercancelbtn {
    /* background-color: rgb(255, 89, 89) !important; */
    /* color: rgb(255, 255, 255); */
    border-radius: 10px !important;
    border: 1px solid inherit;
    font-size: medium !important;
    font-weight: 800;
    padding: 5px 15px;
}

.orderinfobtn {
    /* background-color: rgb(0, 134, 192) !important; */
    color: rgb(255, 255, 255);
    border-radius: 5px !important;
    /* border: 2px solid rgb(5, 2, 2) !important; */
    font-size: medium !important;
}

.ordercancelbtn0 {
    background-color: rgb(192, 0, 0) !important;
    color: rgb(255, 255, 255);
    border-radius: 5px !important;
    /* border: 2px solid rgb(8, 4, 4) !important; */
    font-size: medium !important;
}

.orderinfobtn0 {
    background-color: rgb(0, 134, 192) !important;
    color: rgb(255, 255, 255);
    border-radius: 5px !important;
    /* border: 2px solid rgb(5, 2, 2) !important; */
    font-size: medium !important;
}

.mybtn1 {
    background-color: rgb(1, 0, 0);
    color: rgb(255, 255, 255);
    /* border-radius: 1em; */
}

.mybtn {
    background-color: rgb(52, 0, 54) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
    border: 2px solid rgb(255, 255, 255) !important;

}

.custom-file-label {
    border-radius: 1.8em !important;
    font-family: var(--font-main);
    font-size: 0.7em;

}

.font0 {
    font-family: var(--font-main);
    /* font-weight: 900; */
}

.valid-tooltip {
    font-family: var(--font-main);
}

.font01 {
    font-family: var(--font-main);
    /* font-weight: 100; */
}

.font02 {
    font-family: var(--font-main);
    /* font-weight: 200; */
}

.font03 {
    font-family: var(--font-main);
    /* font-weight: 100; */
}

.card-bg {
    background: radial-gradient(rgb(244, 236, 236), rgb(61, 61, 61));
    /* background: radial-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
    color: rgb(134, 5, 5); */


}

.voga {
    font-family: 'Righteous','sans-serif';
    font-weight: 500;
}

.glorius {
    /* font-family: var(--font-main); */
    /* font-weight: 800; */
    font-family: 'glorious';
}

@font-face {
    font-family: 'EntezareZohoor2';
    src: url('Wallington-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glorious';
    src: url('GLORIOUS.otf');
    font-weight: normal;
    font-style: normal;
}

.search-engine {
    width: 6em;
    height: 1em;
}

.poster-resize {
    width: 100%;
    height: 26em;
    object-fit: cover;
}

.card-resize {
    width: 18em;
    /* height: 40em; */
    contain: content;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wrapper {
    width: 50em;
    background: rgb(255, 255, 255);
}

.cardImg {
    position: relative;
}

.overlay {
    mix-blend-mode: overlay;
}

.dark-text {
    color: black !important;
}

.cart-badge {
    background-color: rgb(6, 171, 0);
}

.order-badge {
    background-color: rgb(255, 0, 0);
}

.border {
    border: 2px solid black !important;
    border-radius: 12px !important;
}

/* Starting With Themes */

.toggle {
    /* position: relative; */
    width: 3rem;
    height: 3rem;
}

.toggle-icon {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
}

.toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: white;
}

.nav-link {
    color: var(--text-main) !important;
}

.navbar-brand {
    color: var(--text-main) !important;
}

.light {
    background-color: #C6DCE4;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #66c2e4;
}

.dark {
    background-color: rgb(218, 215, 188);
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: rgb(226, 217, 134);
}

.blue {
    background-color: #9ED2C6;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #4dddbc;
}

.pale {
    background-color: #F8C4B4;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #fd8e6c;
}

.lime {
    background-color: #aee484;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #87cf50;
}

.lightpink {
    background-color: #FFCACA;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #ff7a7a;
}

.xlpink {
    background-color: #FFECEF;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: rgb(255, 74, 74);
}

.darkblue {
    background-color: #251B37;
    --text-main: #ffffff;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(255, 145, 0);
    --text-secondary: black;
    --gradient-1: rgb(0, 145, 135);
    --gradient-2: rgb(17, 16, 16);
    --bg-main: rgb(63, 63, 63);
    --bg-card: #b289ff;
    --tile-color1: rgb(58, 0, 0);
    --tile-color2: rgb(111, 0, 39);
}

.xlbrown {
    background-color: #ffdf98;
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #ffcd61;

}

.lightbrown {
    /* 967E76 */
    background-color: #a79470;
    --text-main: #ffffff;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #c79842;
}

.orange {
    background: radial-gradient(rgb(255, 255, 255), rgb(220, 93, 2));
    --text-main: #000000;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(59, 96, 0);
    --text-secondary: rgb(255, 255, 255);
    --gradient-2: rgb(255, 132, 0);
    --gradient-1: rgb(255, 162, 162);
    --bg-main: beige;
    --bg-card: #ffc271;
}

.purple {
    background: radial-gradient(rgb(159, 0, 56), rgb(5, 11, 10));
    --text-main: #ffffff;
    --badge-cart: rgb(5, 113, 1);
    --badge-text: white;
    --badge-order: rgb(187, 2, 2);
    --badge-wishlist: rgb(255, 145, 0);
    --text-secondary: black;
    --gradient-1: rgb(0, 145, 135);
    --gradient-2: rgb(17, 16, 16);
    --bg-main: rgb(63, 63, 63);
    --bg-card: rgb(255, 94, 150);
    --tile-color1: rgb(58, 0, 0);
    --tile-color2: rgb(111, 0, 39);
}

/* .page {} */
.pointer {
    cursor: pointer;
}

/* ----------------------popup controls--------------------------- */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    /* width: 160px; */
    /* max-width: 46rem; */
    /* width: 36rem; */
    /* width: auto; */
    width: max-content;
    background-color: var(--bg-main);
    color: var(--text-main);
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--text-main);
    /* padding: 8px 0; */
    /* padding: 8rem 0; */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow -- edit values to align arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 26%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-menu {
    min-width: 7.5rem !important;
}

.card-image {
    /* min-width: 400px; */
    width: 550px;
    height: 300px !important;
    object-fit: cover;
}

.cardBody {
    /* background-color: #ff8686; */
    /* background: var(--bg-card); */
    visibility: visible;
}

.centerX {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* Header Style New */
.header {
    width: 100%;
    height: 65px;
    /* background: #000; */
}

.header .contents {
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    flex-direction: row;
    /* text-align: center; */
}

.header .contents .left {
    flex: 1;
    
}

.header .contents .left .logo{
    font-weight: 800;
    font-size: 25px;
}

.header .contents .left .themeIcon {
    /* flex: 1; */
    visibility: visible;
}

.header .contents .center {
    flex: 1;
}

.header .contents .right {
    flex: 1;
    font-weight: 800;
    font-size: 30px;
}

.navItem {
    /* flex: 1; */
    visibility: visible;
    /* right: 0; */
}

/* End Header Style New */